<div class="header">
  Your Shopping Cart
</div>
<div *ngFor="let productInCart of products ">
  <app-modal-product-in-cart
    [product]="productInCart.product"
    (productEventPriceUpdate)="updatePrice($event)"
    (productEventRemoveProduct)="removeFromCart($event)"
    class="ui divided items" id="list">
  </app-modal-product-in-cart>
</div>
<div id="cart-sum">
  Total Price : <span id="total-sum">{{ try | currency: 'ILS' }}</span>
</div>
<div class="actions">
  <button class="ui black deny button" data-dismiss="modal" (click)="modal.deny()">
    continue shopping
  </button>
  <button class="ui primary right labeled icon button" (click)="checkout()" id="checkout-button">
    checkout
    <i class="cart icon"></i>
  </button>
</div>
