@black: #262626;
@white: #FFFFFF;

.product-name-link {
  font-size: 1.3em;
}

.product {
  height: 100%;

  &:hover {
    img {
      opacity: 0.7;
    }
  }

  img {
    background-color: @white !important;
  }
}

.product-name-link {
  color: @black;

  &:hover {
    text-decoration: underline;
    color: #f0a90e !important;
  }
}

.dimmer-background {
  background: none !important;
}

#out-button {
  background-color: #FFFFFF !important;
}

