<div class="ui centered card product">
  <div class="ui fluid image">
    <sui-dimmer [isDimmed]="product.limit===0" [isClickable]="false" class="dimmer-background">
      <div class="ui red basic button" id="out-button">Out Of Stock</div>
    </sui-dimmer>
    <img src="{{product.image}}" class="ui fluid image" alt="{{product.name}}">
  </div>
  <div class="content">
    <a class="header product-name-link" routerLink="{{product.name}}">{{product.name}}</a>
    <div class="description">{{product.description}}</div>
  </div>
  <div class="extra content">
    <div class="meta">{{product.price | currency: 'ILS'}}</div>
    <div>
      <sui-rating class="star" [ngModel]="3" [maximum]="5" [isReadonly]="true"></sui-rating>
    </div>

    <button *ngIf="!isInCart; else remove_from_cart" class='ui primary button right floated'
            [ngClass]="{'disabled': (product.limit===0)}"
            (click)="addToCart()">
      Add to cart
    </button>
    <ng-template #remove_from_cart>
      <button class="ui black button right floated" (click)="removeFromCart()">
        Remove from cart
      </button>
    </ng-template>
  </div>
</div>
