<div id="index-link">
  <a routerLink="/product"><img src="../../../assets/images/black_logo.png" alt="logo"></a>
</div>

<div class="ui one column stackable center page grid">
  <div class="column ten wide centered grid">
    <form class="ui form" id="frame">
      <div class="header">Sign in</div>
      <div class="field">
        <label>Email (phone for mobile accounts)
          <input type="text">
        </label>
      </div>
      <div class="field">
        <label>Password
          <input type="text">
        </label>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <label>
            <input type="checkbox" tabindex="0">
            keep me sign in
          </label>
        </div>
      </div>
      <button class="fluid ui primary button center aligned" type="submit" formaction="">Sign in</button>
      <div class="ui horizontal divider" id="form-divider">NEW TO AMAROMACH</div>
      <button class="fluid ui button" type="submit" routerLink="/sign-up">Create Your AmaRomach Account
      </button>
    </form>
  </div>
</div>
