<div id="index-link">
  <a routerLink="/product"><img src="../../../assets/images/black_logo.png" alt="logo"></a>
</div>
<div class="ui one column stackable center page grid">
  <div class="three wide column"></div>
  <div class="column ten wide">
    <form class="ui form" id="frame">
      <div class="header">Create account</div>
      <div class="field">
        <label>Your name
          <input type="text">
        </label>
      </div>
      <div class="field">
        <label>Email
          <input type="text">
        </label>
      </div>
      <div class="field">
        <label>Password
          <input type="text" class="placeholder-position" placeholder="At least 6 characters">
        </label>
      </div>
      <div class="field">
        <label>Re-enter password
          <input type="text">
        </label>
      </div>
      <button class="fluid ui primary button center aligned" type="submit">Create
        Your AmaRomach Account
      </button>
      <p class="center-aligned">By creating an account, you agree to Amazon's Conditions of Use and Privacy
        Notice.</p>
      <div class="ui divider" id="form-divider"></div>
      <p class="center-aligned">Already have an account? <a routerLink="/sign-in">Sign in</a></p>
    </form>
  </div>
</div>
